body {
  margin: 0;
}

.header {
  background-color: darkcyan;
  text-align: right;
  padding: 14px 18px;
}

.header img {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 40px;
  font-family: Arial, sans-serif;
  margin: 24px;
}
